In [1]:
import pandas as pd

import requests

web = requests.get('https://www.infoplease.com/us/postal-information/state-abbreviations-and-state-postal-codes')

dfs = pd.read_html(web.text)

for df in dfs:
    print(df.head())

  State/District Abbreviation Postal Code
0        Alabama         Ala.          AL
1         Alaska       Alaska          AK
2        Arizona        Ariz.          AZ
3       Arkansas         Ark.          AR
4     California       Calif.          CA
  Territory/Associate Abbreviation Postal Code
0      American Samoa          NaN          AS
1                Guam         Guam          GU
2    Marshall Islands          NaN          MH
3          Micronesia          NaN          FM
4   Northern Marianas          NaN          MP

In [2]:
state_abbv = dfs[0]
state_abbv.head()

  State/District Abbreviation Postal Code
0        Alabama         Ala.          AL
1         Alaska       Alaska          AK
2        Arizona        Ariz.          AZ
3       Arkansas         Ark.          AR
4     California       Calif.          CA

###### Saving To CSV File

In [3]:
state_abbv.to_csv('state_abbv.csv', index = False)

In [4]:
state_abbv = pd.read_csv('state_abbv.csv')
state_abbv.head()

  State/District Abbreviation Postal Code
0        Alabama         Ala.          AL
1         Alaska       Alaska          AK
2        Arizona        Ariz.          AZ
3       Arkansas         Ark.          AR
4     California       Calif.          CA

In [5]:
state_abbv.dtypes

State/District    object
Abbreviation      object
Postal Code       object
dtype: object

In [8]:
state_abbv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 3 columns):
State/District    51 non-null object
Abbreviation      51 non-null object
Postal Code       51 non-null object
dtypes: object(3)
memory usage: 1.3+ KB

In [9]:
state_abbv.shape

(51, 3)

In [10]:
state_abbv = pd.read_csv('state_abbv.csv', index_col = 0)
state_abbv.head()

               Abbreviation Postal Code
State/District
Alabama                Ala.          AL
Alaska               Alaska          AK
Arizona               Ariz.          AZ
Arkansas               Ark.          AR
California           Calif.          CA

In [11]:
sex_ratio = requests.get('https://en.wikipedia.org/wiki/List_of_countries_by_sex_ratio')

datas = pd.read_html(sex_ratio.text)

for data in datas:
    print(data.head())

        Country/region  at birth(CIA estimate, 2016)[1]  0–14 years  \
0              – World                             1.09        1.07
1          Afghanistan                             1.05        1.03
2              Albania                             1.10        1.12
3              Algeria                             1.05        1.05
4  American Samoa (US)                             1.06        0.96

   15–24 years  25–54 years  55–64 years  over 65  total  \
0         1.07         1.02         0.95    0.805  1.015
1         1.04         1.04         0.97    0.860   1.03
2         1.07         0.91         0.98    0.890   0.98
3         1.05         1.02         1.03    0.860   1.03
4         0.96         1.06         0.96    0.850   1.00

   at birth(WDB estimate, 2012)[5]
0                             1.07
1                             1.07
2                             1.07
3                             1.05
4                              NaN
  vteLists of countries by population statistics  \
0                                         Global
1                               (Sub-)continents
2                               Intercontinental
3                           Cities/urban regions
4                                Past and future

    vteLists of countries by population statistics.1
0       Current population Demographics of the world
1  Africa Asia Europe North America Caribbean Oce...
2  Americas Arab world Commonwealth of Nations Eu...
3  National capitals Cities proper Metropolitan a...
4  Past and future population World population es...

In [12]:
country_sex_ratio = datas[0]
country_sex_ratio.head()

,Country/region,"at birth(CIA estimate, 2016)[1]",0–14 years,15–24 years,25–54 years,55–64 years,over 65,total,"at birth(WDB estimate, 2012)[5]"
0,– World,1.09,1.07,1.07,1.02,0.95,0.805,1.015,1.07
1,Afghanistan,1.05,1.03,1.04,1.04,0.97,0.860,1.03,1.07
2,Albania,1.10,1.12,1.07,0.91,0.98,0.890,0.98,1.07
3,Algeria,1.05,1.05,1.05,1.02,1.03,0.860,1.03,1.05
4,American Samoa (US),1.06,0.96,0.96,1.06,0.96,0.850,1.00,NaN

In [14]:
country_sex_ratio.dtypes

Country/region                      object
at birth(CIA estimate, 2016)[1]    float64
0–14 years                         float64
15–24 years                        float64
25–54 years                        float64
55–64 years                        float64
over 65                            float64
total                               object
at birth(WDB estimate, 2012)[5]    float64
dtype: object

In [15]:
country_sex_ratio.shape

(230, 9)

In [16]:
country_sex_ratio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 9 columns):
Country/region                     230 non-null object
at birth(CIA estimate, 2016)[1]    230 non-null float64
0–14 years                         230 non-null float64
15–24 years                        230 non-null float64
25–54 years                        230 non-null float64
55–64 years                        230 non-null float64
over 65                            230 non-null float64
total                              230 non-null object
at birth(WDB estimate, 2012)[5]    191 non-null float64
dtypes: float64(7), object(2)
memory usage: 16.2+ KB

In [17]:
country_sex_ratio.describe()

,"at birth(CIA estimate, 2016)[1]",0–14 years,15–24 years,25–54 years,55–64 years,over 65,"at birth(WDB estimate, 2012)[5]"
count,230.000000,230.000000,230.000000,230.000000,230.000000,230.000000,191.000000
mean,1.049957,1.043522,1.045304,1.033696,0.955957,0.807804,1.052356
std,0.028993,0.035503,0.124018,0.316370,0.242895,0.168649,0.021081
min,0.830000,0.770000,0.820000,0.710000,0.540000,0.370000,1.010000
25%,1.032500,1.030000,1.010000,0.960000,0.870000,0.720000,1.040000
50%,1.050000,1.045000,1.040000,1.000000,0.950000,0.800000,1.050000
75%,1.060000,1.060000,1.060000,1.030000,1.000000,0.870000,1.060000
max,1.260000,1.170000,2.640000,4.910000,3.380000,1.710000,1.190000